<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>AgregarCliente</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <h1>Agregar Persona</h1>
        <a th:href="@{/}">Regresar</a>

        <form th:action="@{/guardar}" method="post" th:object="${cliente}">
            <label>Nombre :</label>
            <input type="texto" name="nombre" th:field="*{nombre}"/>
            <br/>
            <br/>
            <label>Apellido</label>
            <input type="texto" name="apellido" th:field="*{apellido}"/>
            <br/>
            <label>DNI</label>
            <input type="number" name="dni" th:field="*{dni}"/>
            <input type="submit" name="guardar" value="Guardar"/>
        </form>

    </body>
</html>
