<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Agregar Producto</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>

        <a th:href="@{/}">Regresar</a>
        <form th:action="@{/guardarproducto}" method="post" th:object="${producto}">
            <label>Nombre</label>
            <input type="text" name="nombre" th:field="*{nombre}"/>
            <label>Precio</label>
            <input type="number" name="precio" th:field="*{precio}"/>
            <input type="submit" name="guardar" value="Guardar" />
            
        </form>

    </body> 
</html>
